@import "utilities.scss";

@font-face {
  font-family: "ScalaSans";
  src: url("../assets/fonts/ScalaSans.otf") format("otf");
}

@font-face {
  font-family: "ScalaSans-Bold";
  src: url("../assets/fonts/ScalaSans-Bold.otf") format("otf");
}

.App {
  overflow: hidden;
  background: url("../assets/noise.png") 0% 0% / 10%,
    radial-gradient(
      40.8% 68.67% at 50% 54.89%,
      rgba(166, 163, 159, 1) 0%,
      rgb(136, 135, 131) 100%
    );
  // background: url("../assets/noise.png") 0% 0% / 10%,
  //   linear-gradient(
  //     96deg,
  //     rgba(166, 163, 159, 1) 0%,
  //     rgba(178, 176, 171, 1) 50%,
  //     rgba(204, 201, 196, 1) 50%,
  //     rgba(191, 188, 184, 1) 100%
  //   );
}
body {
  margin: 0;
  font-size: 2.3vh;
  font-family: "ScalaSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg {
  background: url("../assets/noise.png") 0% 0% / 10%,
    linear-gradient(
      96deg,
      rgba(191, 188, 184, 1) 0%,
      rgba(204, 201, 196, 1) 50%,
      rgba(178, 176, 171, 1) 50%,
      rgba(166, 163, 159, 1) 100%
    );
}

.place-tag,
.load-video {
  height: 100%;
}

.place-tag-animation,
.load-video-animation {
  position: relative;
  .animation-box,
  .animation-tag,
  .animation-player {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
  }
  .animation-box {
    width: 70%;
    max-width: 500px;
    background: url("../assets/box@2x.png") 50% 80% / contain no-repeat;
  }
  .animation-tag {
    width: 25%;
    max-width: 140px;
    background: url("../assets/tag@2x.png") 50% 10% / contain no-repeat;
  }
  .animation-player {
    width: 70%;
    background: url("../assets/player-c@2x.png") 50% 80% / contain no-repeat;
  }
}

.headline {
  color: #fff;
  position: relative;
  p {
    font-size: 1.3em;
    width: 100%;
    padding: 0 40px;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
}

.tag-headline {
  font-size: 1.3em;
  color: #fff;
  position: relative;
  p {
    width: 100%;
    padding: 40px 40px 20px 40px;
    text-align: center;
    margin: auto;
  }
}

.idle-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.45);
  transform: matrix(1, 0.2, 0, 1, 0, 0);
  img {
    width: 100%;
    object-fit: cover;
  }
}
// .load-video p {
//   top: 0;
// }

// IDLE SPLIT VIEW
// .section-skew-left {
//   transform: skew(-9deg);
//   background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
//     linear-gradient(220deg, #ccc9c4 0%, #bfbcb8 126%);
//   &:before {
//     content: "";
//     width: 50%;
//     height: 100%;
//     position: absolute;
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
//       linear-gradient(220deg, #ccc9c4 0%, #bfbcb8 100%);
//     top: 0;
//     left: 0;
//     transform: skew(9deg);
//     z-index: -1;
//   }
// }
// .section-skew-right {
//   transform: skew(-9deg);
//   background: red;
//   &:after {
//     content: "";
//     width: 50%;
//     height: 100%;
//     position: absolute;
//     background: red;
//     top: 0;
//     right: 0;
//     transform: skew(9deg);
//     z-index: -1;
//   }
// }

// .anti-skew {
//   transform: skew(9deg);
// }
