// .bg {
//   background: url("../assets/noise.png") 0% 0% / 10%,
//     linear-gradient(130deg, rgba(166, 163, 159, 1) 0%, rgb(107, 106, 103) 100%);
// }

.tag {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  display: block;
  background: #343a40;
  // background: rgba(238, 238, 238, 0.8);
  border-radius: 100% 100% 100% 5%;
  color: #fff;
  text-align: center;
  padding: 10px 20px 0 20px;
  position: relative;
  overflow: hidden;
  transform-origin: bottom;
  h2 {
    font-family: "ScalaSans-Bold";
    color: red;
    z-index: 1;
  }
  h4 {
    z-index: 1;
    font-size: 1.25rem;
  }
  h5 {
    z-index: 1;
    font-size: 1rem;
  }

  .upload-progress {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: red;
    opacity: 1;
    transform-origin: bottom;
    transition: all 0.15s ease-in-out;
  }
}

#dropzone-area {
  cursor: pointer;
  transition: all 0.5s ease;
  &.active {
    box-shadow: inset 0px 0px 0px 10px #343a40;
  }
}

.checkmark {
  width: 80px;
  height: 130px;
  transform: rotate(45deg);
}
