@font-face {
    font-family: "ScalaSans";
    src: url("../assets/fonts/ScalaSans.otf") format("otf"),
    }

@font-face {
    font-family: "ScalaSans-Bold";
    src: url("../assets/fonts/ScalaSans-Bold.otf") format("otf"),
    }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ScalaSans";
    font-size: 2vw;
    color: #ffffff;
    background-color: #000000;
    line-height: 1.3;
    cursor: none;
}

b {
    font-family: "ScalaSans-Bold";
    letter-spacing: .025em;
}

b.color {
    /* color: orange; */
}

h1 {
    font-family: "ScalaSans";
    font-weight: 800;
    letter-spacing: .025em;
    margin: 4vh 0;
}

h3 {
    font-family: "ScalaSans";
    font-weight: 400;
    margin: 4vh 0;
}

p {
    margin: 4vh 0;
}

#logo {
    width: 320px;
}

.stage {
    width: 100vw;
    height: 100vh;
    
}

.layer {
    position: absolute;
    opacity: 1;


    padding: 10vh;
    width: calc(100vw - 20vh);
    height: 80vh;

 
    display: flex;
    flex-direction: column;  
    
    background-color: #000000;
    background-position: center;
    background-size: cover;

    /* transition: all 1s ease; */
}

.layer.hidden {
    opacity: 0 !important;
}



.layer .layer-footer {
    width: 62vw;
}

#welcome.layer {

    color: #000000;

    justify-content: space-between;
    align-items: flex-start;

    background-image: url("../assets/background.png");
}

#idle.layer {
    
    background-image: url("../assets/idle-screen.jpg");
}


#idle.layer {

    color: #ffffff;

    justify-content: center;
    align-items: center;


}


.layer ol {
    line-height: 1.5em;
    margin-left: 1em;
    list-style: none;
    counter-reset: li
}

.layer ol li {
    counter-increment: li
}

.layer ol li::before {
    content: counter(li) ".";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: 800;

}

.layer ol li span {
    position: relative;
    left: .5em;
  }

#idle h1 {
    text-align: center;
}